#select-image {
    box-shadow: white;
    opacity: 1;
}

img {
    max-width: 100%;
    height: auto;
}

.center-holder {
    position: relative;
}

#center-container {
    z-index: 1;
    position: absolute;
}

#center-container:hover {
    opacity: .9;
}

#center-container:active {
    opacity: .5;
}

#center-top {
    z-index: 2;
    position: relative;
    text-align: center;
    color: white;
    font-size: 10em;
    vertical-align: middle;
    background-color: rgba(0,0,0,.7);
    opacity: 0;
    pointer-events: none;
    animation-name: show;
    animation-duration: 6000ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes show {
    from {
        opacity: 0;
        text-shadow: 2px 2px 8px #FF0000;
    }
    to {
        opacity: 1;
    }
}