#select-image {
    box-shadow: white;
    opacity: 1;
}

img {
    max-width: 100%;
    height: auto;
}

.center-holder {
    position: relative;
}

#center-container {
    z-index: 1;
    position: absolute;
}

#center-container:hover {
    opacity: .9;
}

#center-container:active {
    opacity: .5;
}

#center-top {
    z-index: 2;
    position: relative;
    text-align: center;
    color: white;
    font-size: 5em;
    vertical-align: middle;
    line-height: 5em;
    box-shadow: white;
    opacity: 0;
    pointer-events: none;
    animation-name: show;
    animation-duration: 6000ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}