@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    /*https://stackoverflow.com/questions/7008039/css-html5-why-does-my-body-have-a-spacing-at-the-top*/
    /* margin: 0px;
    padding: 0px;
    border-width: 0px; */
    /*https://stackoverflow.com/questions/30489594/prevent-100vw-from-creating-horizontal-scroll/30504010*/
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
    width: 100%;
    text-align: center;
    background: black !important;
    padding: 0px;
}

body {
    height: 100%;
    width: 100%;
    background: black !important;
    padding: 0px;
}

/* START TOP NAVIGATION */
.nav-item a{
    font-size: 2em !important;
}
#logo{
    height: 65px;
    width: 65px;
}
#logo:hover{
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin{
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}

/* Scale images  https://stackoverflow.com/questions/16217355/automatically-resize-images-with-browser-size-using-css*/
img {
    max-width: 100%;
    height: auto;
}
/* END TOP NAVIGATION */